.colors {
  --color-dark1: rgb(14, 14, 14);
  --color-dark2: rgb(32, 32, 32);
  --color-dark3: rgb(22, 22, 22);
  --color-white: #fff;
  --color-green: rgb(103, 195, 80);
  --color-green2: rgb(51, 149, 26);
  --color-red: rgb(184, 40, 35);
  --color-red2: rgb(146, 22, 17);
  --color-purple: rgb(49, 2, 53);
  --color-blue1: rgb(8, 107, 187);
  --color-grey1: rgb(66, 73, 73);
}



.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
 
  form {
    width: 31rem;
    margin: 1rem;
    text-align: center;

    input,
    textarea {
      width: 100%;
      padding: 1rem;
      margin: 0.5rem 0;
      border: 1px solid rgb(32, 32, 32);
      border-radius: 0.3rem;
    }

    textarea {
      resize: none;
    }

    button {
      padding: 0.8rem;
      width: 40%;
      background: rgb(103, 195, 80);
      border: none;
      border-radius: 0.5rem;
      cursor: pointer;
      transition: filter 0.5s;
      &:hover {
        filter: brightness(75%);
      }
    }
  }

  .box {
    width: 31rem;
    padding: 1rem;
    background: rgb(127, 179, 213);
    height: 31rem;
    text-align: center;
    border-radius: 0.8rem;
    margin-left: 5rem;
    overflow: auto;
    input {
      width: 90%;
      padding: 0.5rem;
      padding-left: 0rem;
      margin: 0.5rem 0;
      border: 1px solid rgb(32, 32, 32);
      border-radius: 0.3rem;
      align-items: center;
    }
  }
  .contacts {
    background: rgb(125, 175, 210);
    border-radius: 0.5rem;
    text-align: left;
    max-height: 12rem;
    box-sizing: content-box;

    .nome {
      font-size: 1.5rem;
      text-align: left;
      padding: 0.1rem 1rem;
      margin: 0.5rem;
      font-weight: bold;
    }


    .boxtitle {
      display: flex;
      justify-content: space-between;
      align-items: center;

      div {
        margin-right: 1rem;
      }

      a {
        color: #fafef6;
        cursor: pointer;
        margin-left: 0.5rem;
        background-color: #5596d8;
        border-radius: 10%;
        outline: none;
        font-family: fantasy;
        padding: 0.5rem;

        &:hover {
          font-weight: bold;
        }
      }
    }
    .info {
      padding: 0.5rem 1.5rem;

      p {
        margin: 0;
      }
    }
  }
}
